---
title: Pivotal Healthwatch
owner: Pivotal Healthwatch
---

This documentation describes Pivotal Healthwatch.

## <a id='features'></a>About Pivotal Healthwatch

Pivotal Healthwatch is a service for monitoring and alerting on the current health, performance, and capacity of <%= vars.platform_name %>. To help operators understand the operational state of their <%= vars.platform_name %> deployment, Pivotal Healthwatch:

* Stores, visualizes and alerts on metrics from core <%= vars.platform_name %> components, including BOSH-reported VM metrics. The service covers the recommended [Key Performance Indicators](https://docs.pivotal.io/pivotalcf/monitoring/kpi.html) and [Key Scaling Indicators](https://docs.pivotal.io/pivotalcf/monitoring/key-cap-scaling.html) for a given version of <%= vars.platform_name %>.
* Executes health checks as continuous validation tests and creates super metrics. The service stores, displays, and forwards this data into the [Loggregator](https://docs.pivotal.io/platform/application-service/loggregator/architecture.html) for external consumption by existing customer solutions. For more information, see [Pivotal Healthwatch Metrics](metrics.html) and [Access Super Metrics Through the Loggregator Firehose](using.html#firehose).

Pivotal Healthwatch stores all data points for 25 hours and then prunes them. Any active alerts that are pruned reissue an alert every 24 hours if the related metrics are not yet recovered to a normal state.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Pivotal Healthwatch.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.8.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>March 11, 2020</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.10.x, v2.9.x, v2.8.x and v2.7.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v2.10.x, v2.9.x, v2.8.x and v2.7.x</td>
    </tr>
     <tr>
        <td>Compatible Pivotal Cloud Foundry Event Alerts version(s)</td>
        <td>v1.2.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, and vSphere</td>
    </tr>
    <tr>
        <td>Browser support</td>
        <td>Latest Major Versions of Google Chrome and Firefox</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>Yes</td>
    </tr>
</table>

## <a id="limitations"></a>Limitations

* Pivotal Healthwatch is intended to monitor only the <%= vars.platform_name %> foundation it is installed on.

## <a id='guide'></a>Pivotal Healthwatch User Guide ##

* [Pivotal Healthwatch Architecture](architecture.html)
* [Installing and Configuring Pivotal Healthwatch](installing.html)
* [Using Pivotal Healthwatch](using.html)
* [Pivotal Healthwatch Resources](resources.html)
* [Pivotal Healthwatch Metrics](metrics.html)
* [Monitoring Pivotal Healthwatch](monitoring.html)
* [Troubleshooting Pivotal Healthwatch](troubleshooting.html)
* [Updating Alert Configurations](api/alerts.html)
* [Updating Free Chunk Configurations](api/free-chunks.html)
* [Release Notes and Known Issues](release-notes.html)
